<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etherealmobile.crackwatcher_pcgames">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
            <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
            <!-- Real AdMob App ID: ca-app-pub-9779544843360458~5825365539 -->
            <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-9779544843360458~5825365539"/>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LatestCrackDetails" />
        <activity android:name=".activities.CrackDetails" />
        <activity android:name=".activities.PopularDeatils" />
    </application>

</manifest>